Repository Epitech-Nantes-Tek3/A-equals-l-squared, pull requests merged in 2023-03, with the labels that each got.

#173 172 add swagger doc
  server/api/area/action/action.js
  server/api/area/area.js
  server/api/area/reaction/reaction.js
  server/package.json
  server/server_app.js
Labels: documentation, server

#174 169 add way to personalize area
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/main.dart
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/pages/create_area/create_area_functional.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/test/testsMaterialFunctions/material_functions_tests.dart
  server/api/area/action/action.js
  server/api/area/area.js
  server/api/area/reaction/reaction.js
  server/prisma/schema.prisma
  server/services/deezer/init.js
Labels: bug, enhancement, Flutter App, Front feature

#171 153 add reddit service
  application/app_code/assets/icons/reddit.png
  application/app_code/lib/flutter_objects/user_data.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  server/prisma/schema.prisma
  server/server_app.js
  server/services/deezer/reactions/add_history_to_playlist.js
  server/services/deezer/reactions/add_recommendations_to_playlist.js
  server/services/glue/glue.js
  server/services/reddit/init.js
  server/services/reddit/reactions/subreddit_subscribe_new.js
  server/services/reddit/reactions/subreddit_subscribe_to.js
  server/services/reddit/reactions/subreddit_unsubscribe.js
Labels: Flutter App, Service, database, server

#166 113 front development
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/dynamic_parameter_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/main.dart
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/pages/create_area/create_area_functional.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/test/testsMaterialFunctions/material_functions_tests.dart
  server/api/area/action/action.js
  server/api/area/area.js
  server/api/area/reaction/reaction.js
  server/prisma/schema.prisma
  server/services/deezer/init.js
Labels: bug, documentation, enhancement, Flutter App, Front feature

#179 159 add multi language in flutter
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/dynamic_parameter_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/flutter_objects/user_data.dart
  application/app_code/lib/language/language.dart
  application/app_code/lib/language/language_code.dart
  application/app_code/lib/language/language_deutsch.dart
  application/app_code/lib/language/language_english.dart
  application/app_code/lib/language/language_french.dart
  application/app_code/lib/language/language_spanish.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/lib/pages/signup/signup_state.dart
  application/app_code/pubspec.lock
  application/app_code/pubspec.yaml
Labels: documentation, enhancement, Flutter App

#182 177 bug in create or param an area the button create defaut spawn
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/main.dart
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/night_mod/night_mod.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  application/app_code/lib/pages/create_area/create_area_functional.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
Labels: bug, enhancement, Flutter App, Front feature

#188 186 bug text of creation area button
  application/app_code/android/app/src/main/AndroidManifest.xml
  application/app_code/android/app/src/main/res/Assets.xcassets/AppIcon.appiconset/Contents.json
  application/app_code/android/app/src/main/res/appstore.png
  application/app_code/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  application/app_code/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  application/app_code/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  application/app_code/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  application/app_code/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  application/app_code/android/app/src/main/res/playstore.png
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  application/app_code/web/favicon.png
  application/app_code/web/icons/Icon-192.png
  application/app_code/web/icons/Icon-512.png
  application/app_code/web/icons/Icon-maskable-192.png
  application/app_code/web/icons/Icon-maskable-512.png
  application/mobile.Dockerfile
  server/api/area/action/action.js
  server/api/area/reaction/reaction.js
  server/api/auth/auth.js
  server/api/dev/dev.js
  server/api/services/discord.js
  server/api/services/rea.js
  server/api/user/user.js
  server/server_app.js
  server/services/calendar/calendar_init.js
  server/services/deezer/init.js
  server/services/discord/init.js
  server/services/discord/reactions/change_activity.js
  server/services/gmail/gmail_init.js
  server/services/reddit/init.js
Labels: bug, Flutter App, Production

#192 189 implement a secret bonus
  application/app_code/assets/icons/thanks.png
  application/app_code/lib/flutter_objects/news_letter_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/language/language_code.dart
  application/app_code/lib/language/language_deutsch.dart
  application/app_code/lib/language/language_english.dart
  application/app_code/lib/language/language_french.dart
  application/app_code/lib/language/language_spanish.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  server/api/newsLetter/newsLetter.js
  server/api/user/user.js
  server/passport/token.js
  server/prisma/schema.prisma
  server/server_app.js
Labels: bug, enhancement, Flutter App, database, server

#197 196 initialize services at server start up
  server/api/dev/dev.js
  server/server_app.js
  server/services/calendar/calendar_init.js
  server/services/deezer/init.js
  server/services/discord/init.js
  server/services/gmail/gmail_init.js
  server/services/init_all.js
  server/services/reaaaaaaa/init.js
  server/services/reddit/init.js
  server/services/timetime/init.js
Labels: Service, server

#198 43 change the name of database.env
  .env
  application/app_code/lib/pages/settings/settings_state.dart
  docker-compose.yml
  server/database_init.js
  server/package.json
  server/passport/facebook.js
  server/passport/google.js
  server/passport/local.js
  server/passport/token.js
  server/server_app.js
  server/utils.js
Labels: server

#193 191 front end responsive
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/lib/pages/signup/signup_state.dart
Labels: bug, enhancement, Flutter App, Front feature

#195 194 add swagger docs to gh pages CI
  .github/workflows/github-pages.yml
  README.md
  server/docs/index.html
  server/package.json
  server/server_app.js
  server/swagger.json
  server/swaggerdoc.json
Labels: documentation

#199 194 add script to create swagger doc
  README.md
  server/services/calendar/calendar_init.js
  swagger_documentation.sh
Labels: Production

#200 191 front end responsive
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/login/login_functional.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/lib/pages/signup/signup_state.dart
  application/app_code/lib/router.dart
  server/api/area/action/action.js
  server/api/area/area.js
  server/api/services/reddit.js
  server/services/deezer/init.js
  server/services/discord/init.js
  server/services/discord/reactions/send_private_message.js
  server/services/glue/glue.js
  server/services/reaaaaaaa/init.js
  server/services/reaaaaaaa/reactions/change_area_status.js
Labels: bug
