Repository Epitech-Nantes-Tek3/A-equals-l-squared, pull requests merged in 2023-01, with the labels that each got.

#4 Add the CONTRIBUTING.md files
  CONTRIBUTING.md
Labels: documentation

#6 5 Create the readme file
  README.md
Labels: documentation

#12 11- HotFix Database version and restart
  docker-compose.yml
  server/database/Dockerfile
Labels: bug, dev-environment

#18 17 Create a Pull Request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation

#19 8 Update the CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#16 Create the new Prisma migration and Update the database
  server/database/Dockerfile
  server/database/dump.sql
  server/database/testdump.sql
  server/passport/local.js
  server/passport/token.js
  server/prisma/schema.prisma
  server/server_app.js
Labels: database

#20 7 Update the part of README.md
  README.md
Labels: documentation

#22 21 Move the pull request template
  .github/pull_request_template.md
Labels: bug

#25 23 Change the workflow to generate and deploy the documentation of the database and server on GHPages
  .github/workflows/github-pages.yml
  server/package.json
Labels: documentation, database

#28 27 Fix the workflow 'Deploy Docs'
  server/prisma/schema.prisma
Labels: bug, database

#31 30 link flutter documentation with gh docs
  .github/workflows/github-pages.yml
  server/docs/index.html
Labels: documentation, dev-environment

#29 14 Link the database to the about.json route
  server/server_app.js
Labels: database, server

#35 33 setup flutter project architecture
  application/app_code/lib/main.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_page.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_functional.dart
  application/app_code/lib/pages/login/login_page.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/router.dart
  application/app_code/pubspec.lock
  application/app_code/pubspec.yaml
  application/app_code/test/widget_test.dart
Labels: enhancement, Flutter App, Front feature

#45 42 update the readme to link the documentations
  .github/pull_request_template.md
  README.md
Labels: documentation

#44 34 create flutter objects class
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/error_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/flutter_objects/user_data.dart
  application/app_code/pubspec.lock
  application/app_code/test/testsFlutterObjects/action_data_tests.dart
  application/app_code/test/testsFlutterObjects/error_data_tests.dart
  application/app_code/test/testsFlutterObjects/reaction_data_tests.dart
  application/app_code/test/testsFlutterObjects/service_data_tests.dart
  application/app_code/test/testsFlutterObjects/user_data_tests.dart
Labels: documentation, enhancement, Flutter App, Front feature

#39 26 add gmail service
  .gitignore
  server/package.json
  server/services/gmail/gmail_init.js
  server/services/gmail/reactions/send_email.js
Labels: enhancement, server

#46 32 add connection interface in flutter
  application/app_code/lib/network/informations.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_functional.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/signup/signup_functional.dart
  application/app_code/lib/pages/signup/signup_page.dart
  application/app_code/lib/pages/signup/signup_state.dart
  application/app_code/lib/router.dart
  application/app_code/test/widget_test.dart
Labels: enhancement, Flutter App

#49 38 add e mail verification system
  application/app_code/lib/pages/login/login_state.dart
  server/package.json
  server/passport/local.js
  server/passport/token.js
  server/prisma/schema.prisma
  server/server_app.js
Labels: enhancement, Flutter App, database, server

#53 36 add forgot password functionality
  application/app_code/lib/pages/login/login_state.dart
  server/server_app.js
Labels: Flutter App, server

#58 54 add update user data functionality
  application/app_code/lib/pages/settings/settings_state.dart
  server/server_app.js
Labels: enhancement, Flutter App, server

#61 60 implement a new passport auth
  server/database.env
  server/package.json
  server/passport/facebook.js
  server/passport/google.js
  server/prisma/schema.prisma
  server/server_app.js
Labels: enhancement, Flutter App, database, server

#62 56 add Actions/Reaction parameters in the database
  server/prisma/schema.prisma
Labels: database

#55 48 add gmail service into the DB
  server/services/gmail/actions/get_email.js
  server/services/gmail/gmail_init.js
Labels: enhancement, database, server

#50 24 poc of implementation of discord service
  server/package.json
  server/server_app.js
  server/services/discord/actions/on_join_voice_channel.js
  server/services/discord/actions/on_member_joining.js
  server/services/discord/actions/on_message.js
  server/services/discord/actions/on_reaction_add.js
  server/services/discord/init.js
  server/services/discord/reactions/change_activity.js
  server/services/discord/reactions/send_message_channel.js
  server/services/discord/reactions/send_private_message.js
Labels: enhancement, server

#67 47 design connection page
  application/app_code/lib/network/informations.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/signup/signup_state.dart
Labels: documentation, Flutter App, Front feature

#70 64 implement facebook and google auth methods in flutter
  application/app_code/android/app/src/main/res/xml/network_security_config.xml
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/signup/signup_state.dart
  application/app_code/pubspec.lock
  application/app_code/pubspec.yaml
  server/server_app.js
Labels: enhancement, Flutter App, server

#74 Add resizeToAvoidBottomInset to false in Scaffold #71
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/signup/signup_state.dart
Labels: bug, Flutter App, Front feature

#73 65 create material function for all front widget
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/pages/signup/signup_state.dart
  application/app_code/pubspec.lock
Labels: Flutter App, Front feature

#76 72 Remove a text error in login page
  application/app_code/lib/pages/login/login_state.dart
Labels: bug, Flutter App, Front feature

#77 52 change all font in roboto font
  application/app_code/assets/fonts/Roboto/LICENSE.txt
  application/app_code/assets/fonts/Roboto/Roboto-Black.ttf
  application/app_code/assets/fonts/Roboto/Roboto-BlackItalic.ttf
  application/app_code/assets/fonts/Roboto/Roboto-Bold.ttf
  application/app_code/assets/fonts/Roboto/Roboto-BoldItalic.ttf
  application/app_code/assets/fonts/Roboto/Roboto-Italic.ttf
  application/app_code/assets/fonts/Roboto/Roboto-Light.ttf
  application/app_code/assets/fonts/Roboto/Roboto-LightItalic.ttf
  application/app_code/assets/fonts/Roboto/Roboto-Medium.ttf
  application/app_code/assets/fonts/Roboto/Roboto-MediumItalic.ttf
  application/app_code/assets/fonts/Roboto/Roboto-Regular.ttf
  application/app_code/assets/fonts/Roboto/Roboto-Thin.ttf
  application/app_code/assets/fonts/Roboto/Roboto-ThinItalic.ttf
  application/app_code/lib/main.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/pubspec.yaml
Labels: Flutter App, Front feature
