Repository Epitech-Nantes-Tek3/A-equals-l-squared, pull requests merged in 2023-02, with the labels that each got.

#79 69 create the area relations
  application/app_code/pubspec.lock
  server/prisma/schema.prisma
  server/server_app.js
Labels: database, server

#80 68 triggers of services to the api
  server/prisma/schema.prisma
  server/server_app.js
  server/services/discord/getters/available_guilds.js
  server/services/discord/getters/text_channels.js
  server/services/discord/getters/voice_channels.js
  server/services/discord/init.js
  server/services/gmail/gmail_init.js
Labels: enhancement, server

#83 75 link database value with flutter
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/pages/create_area/create_area_functional.dart
  application/app_code/lib/pages/create_area/create_area_page.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/service_list/service_list_functional.dart
  application/app_code/lib/pages/service_list/service_list_page.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/lib/pages/update_area/update_area_functional.dart
  application/app_code/lib/pages/update_area/update_area_page.dart
  application/app_code/lib/pages/update_area/update_area_state.dart
  application/app_code/lib/router.dart
  server/passport/local.js
  server/server_app.js
  server/services/discord/init.js
  server/services/gmail/actions/get_email.js
  server/services/gmail/gmail_init.js
  server/services/gmail/reactions/send_email.js
Labels: bug, enhancement, Flutter App, database, server

#87 84 link create area back with flutter app
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/pages/create_area/create_area_functional.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  server/prisma/schema.prisma
  server/server_app.js
Labels: bug, enhancement, Flutter App, database, server

#93 88 implement parameters integrity and proposition check
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  server/prisma/schema.prisma
  server/server_app.js
  server/services/discord/init.js
  server/services/gmail/gmail_init.js
Labels: enhancement, Flutter App, database, server

#86 81 Do reaction on action detection
  server/database.env
  server/prisma/schema.prisma
  server/server_app.js
  server/services/discord/actions/on_join_voice_channel.js
  server/services/discord/actions/on_member_joining.js
  server/services/discord/actions/on_message.js
  server/services/discord/actions/on_reaction_add.js
  server/services/discord/init.js
  server/services/glue/glue.js
  server/services/gmail/gmail_init.js
Labels: server

#96 89 implement update area and previous button during creation
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/update_area/update_area_state.dart
  application/app_code/lib/router.dart
  server/prisma/schema.prisma
  server/server_app.js
Labels: enhancement, Flutter App, database, server

#102 81 Handle parameters for actions
  server/services/discord/actions/on_join_voice_channel.js
  server/services/discord/actions/on_message.js
  server/services/discord/actions/on_reaction_add.js
  server/services/glue/glue.js
Labels: server

#103 81 Handle parameters for Reactions
  server/services/discord/actions/on_reaction_add.js
  server/services/discord/reactions/change_activity.js
  server/services/discord/reactions/send_message_channel.js
  server/services/discord/reactions/send_private_message.js
  server/services/glue/glue.js
  server/services/gmail/reactions/send_email.js
Labels: server

#98 97 replace auth2 system with appwrite
  application/app_code/android/app/build.gradle
  application/app_code/android/app/src/main/AndroidManifest.xml
  application/app_code/lib/flutter_objects/user_data.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/auth_linker/auth_linker_page.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/router.dart
  application/app_code/linux/flutter/generated_plugin_registrant.cc
  application/app_code/linux/flutter/generated_plugins.cmake
  application/app_code/pubspec.lock
  application/app_code/pubspec.yaml
  application/app_code/web/auth.html
  application/app_code/windows/flutter/generated_plugin_registrant.cc
  application/app_code/windows/flutter/generated_plugins.cmake
  server/passport/local.js
  server/prisma/schema.prisma
  server/server_app.js
Labels: enhancement, Flutter App, help wanted, database, server

#90 78 design all pages based on figma
  application/app_code/analysis_options.yaml
  application/app_code/assets/icons/Area_Logo.png
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/flutter_objects/user_data.dart
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_functional.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/lib/pages/update_area/update_area_state.dart
  application/app_code/pubspec.yaml
Labels: documentation, enhancement, Flutter App, Front feature

#107 100 101 Improve database for front integration
  server/prisma/schema.prisma
  server/server_app.js
  server/services/discord/init.js
  server/services/gmail/gmail_init.js
Labels: database

#111 85 add discord instantiation
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/pubspec.yaml
  server/package.json
  server/server_app.js
  server/services/discord/actions/on_reaction_add.js
  server/services/discord/getters/available_guilds.js
  server/services/discord/init.js
Labels: enhancement, Service, server

#114 108 implement proposal parameter flutter
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/update_area/update_area_state.dart
  application/app_code/pubspec.lock
  application/app_code/pubspec.yaml
  server/prisma/schema.prisma
  server/services/discord/getters/available_guilds.js
  server/services/discord/init.js
Labels: bug, enhancement, Flutter App, database, server

#120 Remove Bug from overfloaded pixel #118
  application/app_code/lib/pages/login/login_state.dart
Labels: bug, Flutter App

#121 119 Fix-auth-callback-url-for-flutter-app
  application/app_code/android/app/src/main/AndroidManifest.xml
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
Labels: bug, Flutter App

#115 82 add fetchemail action and send email from the logged user
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/login/login_state.dart
  server/prisma/schema.prisma
  server/server_app.js
  server/services/gmail/actions/fetch_email.js
  server/services/gmail/gmail_init.js
  server/services/gmail/reactions/send_email.js
Labels: enhancement, Service, server, Front feature

#122 110 add color for area in front end
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  application/app_code/lib/pages/home/home_state.dart
Labels: Flutter App, Front feature

#123 109 add icons in project and in front
  application/app_code/assets/icons/deezer.png
  application/app_code/assets/icons/discord.png
  application/app_code/assets/icons/gmail.png
  application/app_code/assets/icons/timetime.png
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/service_data.dart
  server/prisma/schema.prisma
  server/server_app.js
  server/services/discord/init.js
  server/services/gmail/gmail_init.js
Labels: Flutter App, Front feature

#127 112 handle dynamic parameters
  server/prisma/schema.prisma
  server/server_app.js
  server/services/discord/actions/on_join_voice_channel.js
  server/services/discord/actions/on_member_joining.js
  server/services/discord/actions/on_message.js
  server/services/discord/actions/on_reaction_add.js
  server/services/discord/init.js
  server/services/discord/reactions/change_activity.js
  server/services/discord/reactions/send_message_channel.js
  server/services/discord/reactions/send_private_message.js
  server/services/glue/dynamic_parameters.js
  server/services/glue/glue.js
  server/services/gmail/gmail_init.js
  server/services/gmail/reactions/send_email.js
Labels: Service, database, server

#126 105 add timetime service
  server/package.json
  server/server_app.js
  server/services/discord/actions/on_join_voice_channel.js
  server/services/discord/actions/on_member_joining.js
  server/services/discord/actions/on_message.js
  server/services/discord/actions/on_reaction_add.js
  server/services/timetime/actions/at_a_date.js
  server/services/timetime/actions/every_x_time.js
  server/services/timetime/init.js
Labels: enhancement, Service, server

#135 133 bug flutter app update creation
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  server/services/timetime/init.js
Labels: bug, Flutter App, database

#136 99 change border of all button
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/login/login_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/lib/pages/signup/signup_state.dart
Labels: bug, documentation, enhancement, Flutter App, Front feature

#138 137 implement dynamic parameter object
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/dynamic_parameter_data.dart
  server/server_app.js
  server/services/discord/init.js
Labels: enhancement, Flutter App, server

#139 132 create the service reaaaaaaa
  application/app_code/assets/icons/reaaaaaaa.png
  application/app_code/lib/pages/home/home_state.dart
  server/server_app.js
  server/services/glue/glue.js
  server/services/reaaaaaaa/init.js
  server/services/reaaaaaaa/reactions/change_area_status.js
  server/services/timetime/actions/at_a_date.js
  server/services/timetime/init.js
Labels: bug, enhancement, Flutter App, Service, server

#143 142 - Bug Sending a verification email
  server/server_app.js
Labels: bug, server

#144 141 at area creation have the possibility to choose if it already enable or not
  application/app_code/lib/pages/create_area/create_area_state.dart
  server/server_app.js
Labels: enhancement, Flutter App, server

#125 94 change areas display on home
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/material_lib_functions/material_functions.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
Labels: documentation, enhancement, Flutter App, Front feature

#150 149 add calendar service
  application/app_code/assets/icons/calendar.png
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/login/login_state.dart
  server/services/calendar/calendar_init.js
  server/services/calendar/reactions/create_event.js
  server/services/glue/glue.js
  server/services/gmail/gmail_init.js
Labels: server

#130 117 implement deezer service
  application/app_code/lib/flutter_objects/user_data.dart
  application/app_code/lib/pages/auth_linker/auth_linker_functional.dart
  application/app_code/lib/pages/auth_linker/auth_linker_state.dart
  server/prisma/schema.prisma
  server/server_app.js
  server/services/deezer/common/add_tracks_to_playlist.js
  server/services/deezer/getters/user_playlists.js
  server/services/deezer/init.js
  server/services/deezer/reactions/add_history_to_playlist.js
  server/services/deezer/reactions/add_recommendations_to_playlist.js
  server/services/deezer/reactions/clear_playlist.js
  server/services/deezer/reactions/create_playlist.js
  server/services/deezer/reactions/delete_playlist.js
  server/services/glue/glue.js
Labels: enhancement, Flutter App, Service, database, server, Front feature

#161 156 add reaction to calendar
  server/server_app.js
  server/services/calendar/calendar_init.js
  server/services/calendar/getters/get_available_calendars.js
  server/services/calendar/reactions/create_calendar.js
  server/services/calendar/reactions/create_event.js
  server/services/glue/glue.js
Labels: enhancement, Service, server

#116 113 front improvement
  application/app_code/lib/flutter_objects/action_data.dart
  application/app_code/lib/flutter_objects/area_data.dart
  application/app_code/lib/flutter_objects/parameter_data.dart
  application/app_code/lib/flutter_objects/reaction_data.dart
  application/app_code/lib/pages/create_area/create_area_functional.dart
  application/app_code/lib/pages/create_area/create_area_state.dart
  application/app_code/lib/pages/home/home_functional.dart
  application/app_code/lib/pages/home/home_state.dart
  application/app_code/lib/pages/service_list/service_list_state.dart
  application/app_code/lib/pages/settings/settings_state.dart
  application/app_code/lib/pages/update_area/update_area_functional.dart
  application/app_code/lib/pages/update_area/update_area_page.dart
  application/app_code/lib/pages/update_area/update_area_state.dart
  application/app_code/lib/router.dart
  server/api/area/action/action.js
  server/api/area/area.js
  server/api/area/reaction/reaction.js
  server/prisma/schema.prisma
  server/server_app.js
  server/services/calendar/calendar_init.js
  server/services/calendar/reactions/create_calendar.js
  server/services/calendar/reactions/create_event.js
  server/services/deezer/init.js
  server/services/deezer/reactions/add_history_to_playlist.js
  server/services/deezer/reactions/add_recommendations_to_playlist.js
  server/services/deezer/reactions/clear_playlist.js
  server/services/deezer/reactions/create_playlist.js
  server/services/deezer/reactions/delete_playlist.js
  server/services/discord/init.js
  server/services/discord/reactions/change_activity.js
  server/services/discord/reactions/send_message_channel.js
  server/services/discord/reactions/send_private_message.js
  server/services/glue/glue.js
  server/services/gmail/gmail_init.js
  server/services/gmail/reactions/send_email.js
  server/services/reaaaaaaa/init.js
  server/services/reaaaaaaa/reactions/change_area_status.js
  server/services/timetime/init.js
Labels: bug, documentation, enhancement, Flutter App, Front feature

#167 157 hold createupdatedelete error in front
  application/app_code/lib/pages/create_area/create_area_state.dart
  server/api/area/action/action.js
Labels: enhancement, Flutter App
